[Unit]
Description=Run the network based backup service.

[Service]
ExecStart=/usr/local/bin/gunicorn --bind :5000 --workers 1 --threads 1 --timeout 0 cis91.bkserver:app
User=root
Group=root

[Install]
WantedBy=multi-user.target
